<div class="wrapper">
    <div class="footer1">
      <div class="section">
        <div class="w-layout-grid footer1-grid"><img src="{{ images.-1a7a6349.url }}" id="w-node-ad9fe897-5290-7c85-17ea-ecb6e10ff8ce-c739f7eb" data-sizes="[{&quot;max&quot;:52,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:479,&quot;size&quot;:&quot;52px&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;7vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;52px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;3vw&quot;}]" alt="{{ images.-1a7a6349.alt | trim | escape }}" class="image">
          <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f7f1-c739f7eb" class="footer1-links-wrap">
            <div class="size6-text">{{ texts.494ffa4 }}</div>
            <a href="{{ links.2f }}" aria-current="page" class="footer1-link w--current">{{ texts.-1913cbf2 }}</a>
            <a href="{{ links.6e0c1fb3 }}" class="footer1-link">{{ texts.-23509360 }}</a>
            <a href="{{ links.2c48051 }}" class="footer1-link">{{ texts.1fa3c2 }}</a>
            <a href="{{ links.680851bf }}" class="footer1-link">{{ texts.24263543 }}</a>
          </div>
          <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f7fa-c739f7eb" class="footer1-links-wrap">
            <div class="size6-text">{{ texts.-7732825c }}</div>
            <a href="{{ links.55b8e8be }}" class="footer1-link">{{ texts.3c2336d }}</a>
            <a href="{{ links.-34de491d }}" class="footer1-link">{{ texts.1c03103f }}</a>
            <a href="{{ links.4b0e6111 }}" class="footer1-link">{{ texts.-64104400 }}</a>
            <a href="{{ links.-3f05998a }}" class="footer1-link">{{ texts.5ef0c012 }}</a>
          </div>
          <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f805-c739f7eb" class="footer1-links-wrap">
            <div class="size6-text">{{ texts.3b2d447 }}</div>
            <a href="{{ links.-72a62204 }}" class="footer1-link">{{ texts.5922c3e8 }}</a>
            <a href="{{ links.63325f6a }}" class="footer1-link">{{ texts.7f9ce00b }}</a>
            <a href="{{ links.-4e580ede }}" class="footer1-link">{{ texts.6d291c21 }}</a>
          </div>
          <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f80e-c739f7eb" class="footer1-links-wrap">
            <div class="size6-text">{{ texts.-35d424a8 }}</div>
            <a href="{{ links.23 }}" class="footer1-link">{{ texts.792b2792 }}</a>
            <a href="{{ links.23 }}" class="footer1-link">{{ texts.2c9a4253 }}</a>
            <a href="{{ links.23 }}" class="footer1-link">{{ texts.217bfee6 }}</a>
            <a href="{{ links.23 }}" class="footer1-link">{{ texts.281bc303 }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="w-layout-grid footer1-bottom-grid">
        <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f81b-c739f7eb">
          <a href="{{ links.-693e25ba }}" target="_blank" class="footer1-bottom-link">{{ texts.2e76f65f }}</a>
        </div>
        <div id="w-node-_2d8a3600-59cf-08d2-fe17-bd16c739f81e-c739f7eb">
          <a href="{{ links.6bf929e6 }}" target="_blank" class="footer1-bottom-link">{{ texts.42d540f5 }}</a>
        </div>
      </div>
    </div>
  </div>